@font-face {
  font-family: 'Helvetica Neue LT';
  src: url('fonts/HelveticaNeueLTCom-Roman.eot');
  src: url('fonts/HelveticaNeueLTCom-Roman.woff2') format('woff2'),
  url('fonts/HelveticaNeueLTCom-Roman.woff') format('woff'),
  url('fonts/HelveticaNeueLTCom-Roman.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLTCom-Roman') format('svg'),
  url('fonts/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT';
  src: url('fonts/HelveticaNeueLTCom-BdIt.eot');
  src: url('fonts/HelveticaNeueLTCom-BdIt.woff2') format('woff2'),
  url('fonts/HelveticaNeueLTCom-BdIt.woff') format('woff'),
  url('fonts/HelveticaNeueLTCom-BdIt.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTCom-BdIt.svg#HelveticaNeueLTCom-BdIt') format('svg'),
  url('fonts/HelveticaNeueLTCom-BdIt.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue LT Condensed';
  src: url('fonts/HelveticaNeueLTCom-HvCnO.eot');
  src: url('fonts/HelveticaNeueLTCom-HvCnO.woff2') format('woff2'),
  url('fonts/HelveticaNeueLTCom-HvCnO.woff') format('woff'),
  url('fonts/HelveticaNeueLTCom-HvCnO.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTCom-HvCnO.svg#HelveticaNeueLTCom-HvCnO') format('svg'),
  url('fonts/HelveticaNeueLTCom-HvCnO.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue LT Condensed';
  src: url('fonts/HelveticaNeueLTCom-HvCn.eot');
  src: url('fonts/HelveticaNeueLTCom-HvCn.woff2') format('woff2'),
  url('fonts/HelveticaNeueLTCom-HvCn.woff') format('woff'),
  url('fonts/HelveticaNeueLTCom-HvCn.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTCom-HvCn.svg#HelveticaNeueLTCom-HvCn') format('svg'),
  url('fonts/HelveticaNeueLTCom-HvCn.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT';
  src: url('fonts/HelveticaNeueLTCom-LtIt.eot');
  src: url('fonts/HelveticaNeueLTCom-LtIt.woff2') format('woff2'),
  url('fonts/HelveticaNeueLTCom-LtIt.woff') format('woff'),
  url('fonts/HelveticaNeueLTCom-LtIt.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTCom-LtIt.svg#HelveticaNeueLTCom-LtIt') format('svg'),
  url('fonts/HelveticaNeueLTCom-LtIt.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue LT';
  src: url('fonts/HelveticaNeueLTCom-BlkIt.eot');
  src: url('fonts/HelveticaNeueLTCom-BlkIt.woff2') format('woff2'),
  url('fonts/HelveticaNeueLTCom-BlkIt.woff') format('woff'),
  url('fonts/HelveticaNeueLTCom-BlkIt.ttf') format('truetype'),
  url('fonts/HelveticaNeueLTCom-BlkIt.svg#HelveticaNeueLTCom-BlkIt') format('svg'),
  url('fonts/HelveticaNeueLTCom-BlkIt.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: italic;
}